# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac
.DS_Store

# misc
*.sav
