# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac
.DS_Store
._.DS_Store

# misc
*.lock
*.sav
movie.db
polls.db
Thumbs.db
mySettings.php
SeedMeHome/done
wallpaper.png
