a:link {color: #FFFFFF; text-decoration: none;}
a:visited {color: #FFFFFF; text-decoration: none;}
a:hover {color: #2020ff; text-decoration: none;}

body {
	background: #80421D;
	margin: 0px;
	padding: 0px; 
	font-family: Verdana;
	font-size: 12px;
	color: #FFE4c4;
}

.container {
	position: relative;
	width: 975px;
	word-wrap: break-word;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.field {
        border: 1px solid #474747;
        padding: 2px;
        margin: 5px;
}

legend {
	font-size: 10px;
	align: center;
}

.top, .contents, .menu , .log {
    background-color: #CD853F;
    border: 1px solid #474747;
    float:left;
	position:relative;
	margin:2px;
	margin-right:0px;
}

.top {
	left: 0px;
        height: 73px;
	width: 975px; 
}

.contents {
    width: 668px;
  	float:right;
	margin-right:-4px;
}

.menu {
	left: 0px;
        width: 300px;
}

.log {
	left: 0px;
    width: 975px;
}

.top_right {
	float: right;
	padding-right: 5px;
	padding-left: 50px;
	font-size: 9px;
	text-align: left;
	color: #FFE4c4;
	#border-left: 1px solid #474747;
}

.top_left {
    float: left;
	padding-left: 50px;
	font-size: 56px;
	color: #FFE4c4;
}

.small {
	font-size: 12px;
}

form {
	padding:0;
	margin:0;
}

.popup {
	position: absolute;
	top: 150px;
    left: 50px;	
	z-index: 100;
	background-color: #777777;
	width:300px;
	border: 3px #ffffff solid;
}

.popup .input[type="text"] {
	width:215px;
}

.submit {
    font-size: 12px;
}

.input {
    font-family: "Verdana";
    font-size: 12px;
}

.input[type="file"] {
    	color: #FFE4c4;
}

.button1 {
    position: absolute;
    top: 5px;
    left: 549px;
    width:70px;
    height:14px;
    float: left;
	font-size: 10px;
	text-align: center;
	cursor: pointer; cursor: hand;
	margin: 0px;
}

.button2 {
    position: absolute;
	top: 23px;
	left: 549px;
    width:70px;
    height:14px;
    float: left;
    font-size: 10px;
    text-align: center;
	cursor: pointer; cursor: hand;
	margin: 0px;
}

.red {
	background-color: #441111;
}

.green {
	background-color: #114411;
}

.queue_item {
	position: relative;
	background-color:#A0522D;
	border: 1px #000 solid;
	margin: 7px;
	padding: 6px;
	text-align: left;
}

.bar {
	background-color: #006600;
	height: 8px;
}
.bar2 {
	background-color: #00CC00;
	height: 8px;
}

.bar-border {
	background-color: #224422;
	border: 1px #000 solid;
	width: 100px;
	float: left;
	bottom: 0px;
	margin-right: 4px;
	margin-top: 2px;
	height: 8px;
}

.progress {
	font-size: 10px;
	background-color: #A0522D;
	padding: 0px;
	margin-top: 4px;
}

div.slider { 
	width:215px; 
	margin:10px 0; 
	background-color:#ccc; 
	height:10px; 
	position: relative; 
}

div.handle { 
	width:10px; 
	height:15px; 
	background-color:#f00; 
	cursor:move; 
	position: absolute; 
}

div#log, div#log_em, div#done {
	text-align:left;
	font-size:0.8em;
}

.dir1, .dir2, .dir3, .dir4, .dir5, .dir6, .dir7 {
	font-weight:bold;
	background-color:#BC742E;
	position:relative;
	padding-left:5px;
	padding-right:10px;
	margin-right:10px;
}

.file1, .file2, .file3, .file4, .file5, .file6, .file7 {
	background-color:#AB631D;
	position:relative;
	padding-left:5px;
	padding-right:10px;
	margin-right:10px;
}

.file2, .dir2 {
	margin-left:10px;
}
.file3, .dir3 {
	margin-left:20px;
}
.file4, .dir4 {
	margin-left:30px;
}
.file5, .dir5 {
	margin-left:40px;
}
.file6, .dir6 {
	margin-left:50px;
}
.file7, .dir7 {
	margin-left:60px;
}
.button_r {
    	width:70px;
    	float: right;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer; cursor: hand;
	margin: 0px;
}

